.search-bar {
    border: none;
    margin: 0px;
    height: 34px;
}

.search-form {
    height: 34px !important;
}

.row {
    width: 100% auto;
    margin: 0 auto;
    display: flex;
}

.block {
    width: 100px;
}
  
.gb_P {
    color: black;
    text-decoration: none;
}

.gb_P:hover {
    color: grey;
    cursor: pointer;
}

.gb_b {
    font-family: arial,sans-serif;
    color: gray;
    text-decoration: none;
}

.gb_b:hover {
    opacity: black;
    cursor: pointer;
    text-decoration: underline;
}

.push-right {
    float: right;
}

.ablock {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:blue;
}

.div {
    display: block;
}